{% extends 'base.html.twig' %}

{% block title %}Détails de la catégorie : {{ category.name }}{% endblock %}

{% block body %}
    <h1>Détails de la catégorie : {{ category.name }}</h1>

    <p>ID : {{ category.id }}</p>
    <p>Nom : {{ category.name }}</p>
    <p>Description : {{ category.description }}</p>

    <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-primary">Éditer</a>
    <a href="{{ path('category_index') }}" class="btn btn-secondary">Retour à la liste</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}