{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.username) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        {# Ajoutez ici d'autres champs du formulaire au besoin #}

        <button type="submit" class="btn btn-primary">Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('user_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}